<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeApp</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<h1>App Home page rendered from template folder</h1>
<h3>Aish</h3>
Enter your full name <input type="text">
<input type="button" name="Click Me">
<h3>My level of thinking is at{{insert_me}}</h3>
<h4> we can look at ourselves as a spike of dust or some one made out of {{sr}} and very special</h4>
<img src="{% static 'images/images.jpeg'%}">
<h4>did  you know that there are {{n}} billion stars in our milky way galaxy and there are billions of galaxy </h4>
<form method="POST">
    {{form.as_p}}
    {% csrf_token %}
    <input type="submit" value="submit">
</form>
</body>
</html>